/*


LANDING STYLES



*/

body{
    font-family: 'Nunito' !important;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    gap: 8px;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #BD13B8;
    text-decoration: none;
  }
  
  .navbar .getstarted,
  .navbar .getstarted:focus {
    background: #4154f1;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
  }
  
  .navbar .getstarted:hover,
  .navbar .getstarted:focus:hover {
    color: #fff;
    background: #5969f3;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #4154f1;
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #012970;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      /* display: block;  OJO editar luego*/
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 22, 61, 0.9);
    transition: 0.3s;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #012970;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #4154f1;
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover,
  .navbar-mobile .dropdown ul .active:hover,
  .navbar-mobile .dropdown ul li:hover>a {
    color: #4154f1;
  }
  
  .navbar-mobile .dropdown>.dropdown-active {
    display: block;
  }


  /* Agregado */
  .navbar-button {
    display: flex;
    justify-content: end;
  }


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

    .header {
        background: rgba(0, 0, 0, 0);
        transition: all 0.5s;
        z-index: 997;
        padding: 20px 0;
    }

    .header.header-scrolled {
        padding: 15px 0;
    }
  
    .header .logo {
        line-height: 0;
    }
  
    .header .logo img {
        max-height: 76px;
        margin-right: 6px;
    }
  
    .header.header-scrolled .logo img {
        max-height: 48px;
        margin-right: 6px;
    }
  
  
    .header .logo span {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #012970;
        font-family: "Nunito", sans-serif;
        margin-top: 3px;
    }

    .header-investor {
      padding-top: 200px;
    }

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    height: 100vh;
    background: top center no-repeat;
    background-size: cover;
  }
  
  /* .hero .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
  } */
  
  /* .hero .btn-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
  } */
  
  /* .hero .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .hero .btn-get-started:hover i {
    transform: translateX(5px);
  } */
  
  /* .hero .hero-img {
    text-align: right;
  } */
  
  @media (min-width: 1024px) {
    .hero {
      background-attachment: fixed;
      padding: 200px 0 60px 0;
    }
  }
  
  @media (max-width: 991px) {
    .hero {
      height: 700px;
      padding: 0 0 60px 0;
    }
  
    .hero .hero-img {
      text-align: center;
      margin-top: 80px;
    }
  
    .hero .hero-img img {
      width: 80%;
    }
  }
  
  @media (max-width: 768px) {
    .hero {
      text-align: center;
    }
  
    .hero h1 {
      font-size: 32px;
    }
  
    .hero h2 {
      font-size: 24px;
    }
  
    .hero .hero-img img {
      width: 100%;
    }
  }
  


/*

    Personalizadas

*/

.features_end {
    padding-bottom: 0;
}






.login-body {
    margin: 0;
    padding: 0;
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
}

h1 {
    font-style: normal;
    font-weight: bolder;
    font-size: 61px;
    line-height: 65px;
    color: #FFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    /* or 146% */
    text-align: center;
    color: #FFFFFF;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color:#FFF;
}

.theme-link{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    /* Style */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    text-decoration: none;
}

.logo {
    max-width: 300px;
}

.d-lines {
    border-top:#FFF 2px solid;
    border-bottom:#FFF 2px solid;
    height: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.btn-primary {
    background: #BD13B8;
    border-color: #BD13B8;
    font-weight: 400;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /*
    padding: 10px;
    gap: 10px;
    line-height: 22px;
    */
}

.btn-primary:hover {
    background: #80B8DE;
    border-color: #80B8DE;
}

/* dashboard */
#wrapper #content-wrapper {
    background-color: #f5f5f5;
}

.card {
    border-width: 0px;
}

.single-card-logo {
    border: 5px solid #80B8DE;
}

.single-card-logo-inf {
    min-width: 90%;
    border: 1px solid #80B8DE;
}

.single-type-logo {
    max-height: 43px;
}

.card-single {
    color:#0071BC;
}

.card-overlay:hover {
    border-radius: 10px;
    background-color: #0071BC;
    color:white;
    transition: 0.3s;
    cursor: pointer;
}

.card-single .card-title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.card-single .card-text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-self: stretch;
}

.sidebar-divider {
    border-top: 2px solid #0071BC;
}


@media (min-width: 768px) {
    .sidebar {
        width: 88px !important;
        background: #80B8DE !important;
    }

    .sidebar .sidebar-brand {
        background: #0071BC;
        height: 88px !important;
        margin-bottom: 1.5rem;
    }

    .sidebar .nav-item .nav-link {
        display: block;
        width: 100%;
        text-align: center;
        padding: 4px;
        width: 88px;
        background-color: #f5f5f5;
    }
    .sidebar .nav-item .nav-link span {
        padding-top: 0.5em;
        display: block;
        color: #0071BC;
        font-size: 8px;
    }
    .sidebar .nav-item .nav-link:hover {
        background-color: #fff;
        color: #0071BC;
    }

}


/*

LANDING-STYLES

*/

.btn-outline-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-border-color: #BD13B8;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #80B8DE;
    --bs-btn-hover-border-color: #80B8DE;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #80B8DE;
    --bs-btn-active-border-color: #80B8DE;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
    --bs-btn-disabled-color: #80B8DE;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #80B8DE;
    --bs-gradient: none;
    border: 2px solid #BD13B8;
}

.back-to-top {
    background: transparent;
    border: 2px solid #BD13B8;
}

.back-to-top:hover {
    background: #80B8DE;
}

.search-box {
  background: white;
  padding: 0 0.5em ; 
  border-radius: 10px;
}

.search-box input {
  border: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}